{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Locally grown food Jukkasjärvi">
    <meta name="keywords" content="Locally grown food Jukkasjärvi">
    <script src="https://kit.fontawesome.com/032f9bfe1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ARTIC POINT</title>
</head>

<body>
    <header class="menu">
        <a href="index.html">
            <h1 class="logo" aria-label="Logo leading home">ARTIC <span>POINT</span></h1>
        </a>
        <!--navbar starts-->
        <div class="navbar">
            <a href="index.html">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href="menu.html">Menu</a> <a href="about.html">About Us</a> <a href="book.html">Book A Table</a>
                </div>
            </div>
        </div>
    </header>
    <!--section-->
    <section class="container-fluid" id="book-bg">
        <div class="main-wrap">
            <div class="cover_ 1 cover_sm">
                <div class="container-booking">
                    <div class="book">
                        <div class="col-md-7">
                            <h2 class="reservation-heading">Book Your Table Here!</h2>
                            <div id="book-table">
                                <p>Larger groups of more than 10 people are welcome to contact us by phone</p>
                                <form method="post" enctype="multipart/form-data" id="book-form" name="book-form">
                                    {% csrf_token %} {{ form }} {% if messages %} {% for message in messages %}
                                    <script>

                                        alert("{{ message }}");
                                    </script>{% endfor %} {% endif %} <input type="submit" class="reserve-button" value="Book table!">
                                </form>
                            </div>
                        </div>
                    </div>
                    <p id="book">When You have booked the table, Please do not update the website before a confirmation
                        message pops up.</p>
                </div>
            </div>
        </div>
    </section>
    <!--footer-->
    <footer class="footer">
        <div class="footer-container">
            <div class="box2">
                <h3>QUICK LINKS</h3><a href="index.html">Home</a> <a href="menu.html">Menu</a> <a
                    href="about.html">About Us</a> <a href="book.html">Book A Table</a>
            </div>
            <div class="box2">
                <h3>CONTACT US</h3><a href="#">+123-456-7890</a> <a href="#">artic.point@gmail.com</a> <a
                    href="#">Marknadsvägen 48,Jukkasjärvi,Sweden</a> <a
                    href="https://www.google.com/maps/place/Marknadsv%C3%A4gen+48,+981+91+Jukkasj%C3%A4rvi/@67.8512648,20.5942401,17z/data=!3m1!4b1!4m6!3m5!1s0x45d0c79dd461503d:0x9c45921e571c8733!8m2!3d67.8512628!4d20.599111!16s%2Fg%2F11kq0c7yw6?entry=ttu">Map</a>
            </div>
            <div class="box2">
                <h3>FOLLOW US</h3><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in new tab)">Facebook</a> <a
                    href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in new tab)">Instagram</a>
            </div>
        </div>
    </footer>
</body>

</html>